<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Login</title>
</head>
<body class="bg-[#020617]">
    <nav id="navbar" class=" bg-violet-800 fixed top-0 right-0 left-0 h-[5rem]">
    </nav>

    <div class="pt-[5rem] h-screen flex max-w-7xl mx-auto justify-center items-center px-4">
        <div class="hidden lg:flex w-2/4 justify-center items-center">
            <img class="w-3/4" src="/img/login.svg" alt="imagen para registro">
        </div>
        <form id="form" class=" flex flex-col gap-4  p-4 rounded-lg text-md w-full md:w-9/12 lg:w-2/4">
            <div class="flex-col  gap-2 ">
                <h1 class="text-4xl text-violet-50 font-bold">Login</h1>
                <h3 class="text-sm text-zinc-400">please sign in to continue.</h3>
            </div>
            <div class="flex flex-col gap-2">
                <label for="email-input" class="font-bold text-slate-200">Email : <span class="text-red-500">*</span></label>
                <input type="text" 
                name="email-input" 
                id="email-input" 
                autocomplete="off" 
                class="rounded-full p-3 bg-[#1e293b] text-violet-50 focus:outline-none">
            </div>

            <div class="flex flex-col gap-2">
                <label for="password-input" class="font-bold text-slate-200">Contraseña : <span class="text-red-500">*</span></label>
                <input 
                name="password-input" 
                id="password-input" 
                autocomplete="off" 
                type="password"
                class="rounded-full p-3 bg-[#1e293b] text-violet-50 focus:outline-none">
                <p id="error-text" class="text-sm font-bold text-red-400">
                </p>
            </div>

            <button 
            id="form-btn"
            class="bg-violet-800 font-bold rounded-full text-violet-50 p-3 hover:bg-violet-700 text-center transition ease-in-out"
            >
            Iniciar sesion 
        </button>
        </form>
    </div>    
   <script type="module" src="/components/nav.js"></script>
   <script src="index.js"></script>
</body>
</html>