<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/styles/output.css">
    <title>Contactos app</title>
</head>
<body class="bg-indigo-950">
    <nav id="navbar" class=" bg-violet-800 fixed top-0 right-0 left-0 h-[5rem]">
    </nav>
  <!-- container home -->
  <div class="pt-16 h-screen flex justify-center items-center flex-col md:flex-row lg:w-3/5 mx-auto px-4 gap-4 md:gap-8">
    <h1 class=" text-violet-50 font-bold text-4xl md:text-7xl">Contactify</h1>
    <div class="flex flex-col gap-4 md:text-xl">
      <p class="text-justify text-violet-100 p-1">
        Contactify is an innovative web page for contact management that allows you to securely store and backup all your contact information in an online database. With an intuitive and user-friendly design, Contactify streamlines the management of your contacts and provides instant access to them from any internet-connected device.
      </p>
      <div class="flex justify-around gap-4">
        <a href="/signup/" class="bg-violet-800 py-2 px-4 rounded-lg font-bold text-violet-50 hover:bg-violet-700 w-2/4 text-center transition ease-in-out">Sign up</a>
        <a href="/login/" class=" py-2 px-4 rounded-lg font-bold text-violet-50 hover:bg-violet-700 w-2/4 text-center transition ease-in-out">Login</a>
      </div>
    </div>
  </div>
<script src="../components/nav.js"></script>

</body>
</html>